/***********************************************************************
 * Body Elements                                                       *
 **********************************************************************/
 body
 {
     background:cadetblue;
     font-family:'Raleway',Helvetica,sans-serif;
 }
 .header
 {
     margin-top: 1.5em;
     text-align: center;
     color: black;
 }
 .footer
 {
     font-size: 0.7em;
     text-align: center;
     margin-bottom: 0px;
     color:black;
 }
 /***********************************************************************
  * Container Elements                                                  *
  **********************************************************************/
  .cont1
 {
     padding: 3rem;
     color: rgba(0, 0, 0, .8);
 }
 .cont2
 {
     margin-top: 1rem;
 }
 .cont3
 {
     margin-top: 1rem;
     margin-bottom: 1rem;
 }
 /***********************************************************************
  * Wrapperr Elements                                                   *
  **********************************************************************/
 .form-wrapper
 {
     max-width: 30em;
     margin-right: auto;
     margin-left: auto;
     background-color: white;
     box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 ); 
     border-radius:6px;
     padding: 30px;
 }
 .fs-wrapper
 {
     border-style: solid;
     border-width: 1px;
     border-color: transparent;
     padding-left: 0;
     padding-right: 0;
     margin-left: 0;
     margin-right: 0;
 }
 .legend-wrapper
 {
     font-size: 1.25rem;
     font-weight: 600;
     padding-left: 0;
     padding-right: 0;
     margin-left: 0;
     margin-right: 0;
 }
 /***********************************************************************
  * Input Elements                                                      *
  **********************************************************************/
 .inp1
 {
     padding: .5rem;
     -webkit-appearance: none;
     -moz-appearance: none;
     border-style: solid;
     border-width: 1px;
     width: 97%;
     background-color: transparent;
 
 }
 .inp1:hover
 {
     background-color:white;
     color:black;
 }
 
 .inp2
 {
     padding: .5rem;
     -webkit-appearance: none;
     -moz-appearance: none;
     border-style: solid;
     font-weight: bold;
     border-width: 1px;
     width: 97%;
     background-color: transparent;
 }
 .inp2:hover
 {
     background-color:white;
     color:black;
 }
 
 .lbl1
 {
     padding: 0;
     margin: 0;
     line-height: 1.5;
     font-size: 1rem;
 }
 .lbl2
 {
     padding: 0;
     margin: 0;
     line-height: 1.5;
     font-size: .875rem;
 }
 .lbl2:hover
 {
     cursor: pointer;
 }
 /***********************************************************************
  * Href Elements                                                       *
  **********************************************************************/
  .href1
 {
     font-size: .875rem;
     text-decoration: none;
     transition: color .15s ease-in;
     opacity: 1;
     color: #000;
     transition: opacity .15s ease-in;
     display: block;
     
 }
 .href1:hover
 {
     color: #0c6ab8;
 }
 .href2
 {
     font-size: 1rem;
     color:cornflowerblue;
     text-decoration: none;
     transition: color .15s ease-in;
     opacity: 1;
     transition: opacity .15s ease-in;
     display:block;
 }
 .href2:hover
 {
     color:#0c6ab8;
 }
 .target1
 {
     line-height: 1.5;
     margin-top: 1rem;
 }
 .signup
 {
     outline:none;
     display: inline-flex;
     font-weight: bold;
 }
 .reset
 {
     display: flex;
     justify-content: flex-end;
 }
 /***********************************************************************
  * Button Elements                                                     *
  **********************************************************************/
 .btn1
 {
     font-weight: bold;
     -webkit-appearance: none;
     -moz-appearance: none;
     font-size: .875rem;
     padding-left: 1rem;
     padding-right: 1rem;
     background-color: transparent;
     padding-top: .5rem;
     padding-bottom: .5rem;
     display: inline-block;
     border-color: #000;
     border-style: solid;
     border-width: 1px;
     -moz-osx-font-smoothing: grayscale;
     backface-visibility: hidden;
     transform: translateZ(0);
     transition: transform .25s ease-out;
 }
 .btn1:hover
 {
     cursor: pointer;
     transform: scale(1.05);
     background-color: cadetblue;
 }
 /***********************************************************************
  * Other Styles Are To Be Added ,Only Below This                       *
  **********************************************************************/