<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PatDoc</title>
  <link rel="stylesheet" href="../static/css/Style6.css">
  <link rel="icon" type="image/gif" href="../assets/favicon.png">

  <!-- CDN -->
  <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Top Navbar -->
  <div class="nav-wrapper">
    <nav class="navbar">
      <span class="navbar-brand h1">PatDoc</span>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/ContactUs.html">Contact Us</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" id="dropdDownLogin" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Login</button>
            <div class="dropdown-menu" aria-labelledby="dropdDownLogin">
              <a class="dropdown-item" href="../templates/DocLogin.html">Doctor</a>
              <a class="dropdown-item" href="../templates/PatLogin.html">Patient</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <main class="cont1">
    <form method="POST" class="form-wrapper">
      <fieldset class="fs-wrapper">
        <legend class="legend-wrapper">Contact Us</legend>
        <div class="cont2">
          <label class="lbl1" for="name"><b>Name</b></label>
          <input class="inp1" type="text" name="name" id="name" required>
        </div>
        <div class="cont2">
          <label class="lbl2" for="phno"><b>Mobile Number</b></label>
          <input class="inp1" type="tel" name="phno" id="email" required>
        </div>
        <div class="cont2">
          <label class="lbl2" for="email"><b>Email</b></label>
          <input class="inp1" type="email" name="email" id="email" required>
        </div>

        <div class="cont2">
          <label class="lbl2" for="message"><b>Description</b></label>
          <textarea class="inp3" id="txtarea"></textarea>
        </div>
      </fieldset>
      <div class="signin">
        <input class="btn1" type="button" onclick="Redirect()" value="Submit">
      </div>

      <div style="text-align: center;padding-top: 2%; padding-bottom: 1%;">
        <span>© PatDoc 2021. All rights reserved</span>
      </div>
      <script src="../assets/js/Script.js"></script>
</body>

</html>