<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor SignUp</title>
  <link rel="stylesheet" href="../static/css/Style4.css">
  <link rel="icon" type="image/gif" href="../assets/favicon.png">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Form -->
  <h1 class="header">PatDoc</h1>
  <main class="cont1">
    <form method="POST" class="form-wrapper">
      <fieldset class="fs-wrapper">
        <legend class="legend-wrapper">Create A New Account</legend>
        <div class="cont2">
          <label class="lbl" for="Name">Full Name</label>
          <input class="inp1" type="text" name="name" required id="name">
        </div>
        <div class="cont2">
          <label class="lbl" for="address">Clinic Adddress</label>
          <input class="inp1" type="text" name="address" required id="caddr">
        </div>
        <div class="cont2">
          <label class="lbl" for="city">Specilization</label>
          <select name="spec" class="inp3" required>
            <option value="">Select Specialization</option>
            <option value="Gynecologist/Obstetrician">Gynecologist/Obstetrician</option>
            <option value="General Physician">General Physician</option>
            <option value="Dermatologist">Dermatologist</option>
            <option value="Homeopathi">Homeopathi</option>
            <option value="Ayurveda">Ayurveda</option>
            <option value="Dentist">Dentist</option>
            <option value="ENT Specialist">ENT Specialist</option>
            <option value="Bone Specialist">Bone Specialist</option>
          </select>
        </div>
        <div class="cont2">
          <label class="lbl gen" for="gender">Gender</label>
          <input class="gen" type="radio" name="gender" id="male"> Male
          <input class="gen" type="radio" name="gender" id="female"> Female
        </div>
        <div class="cont2">
          <label class="lbl" for="usrname">Email</label>
          <input class="inp1" type="email" name="email" required id="email">
        </div>
        <div class="cont2">
          <label class="lbl" for="password">Password</label>
          <input class="inp2" type="password" name="password" required id="pass">
        </div>
        <div class="cont2">
          <label class="lbl" for="phno">Contact No</label>
          <input class="inp1" type="tel" name="phno" required id="phno">
        </div>
        <div class="cont2">
          <label class="lbl" for="fee">Consultancy Fee</label>
          <input class="inp1" type="number" name="fee" required id="cfee">
        </div>
      </fieldset>
      <div class="signin">
        <input class="btn1" type="submit" value="Sign Up">
      </div>
      <hr id="wrapper">
      <div class="target1">
        <p class="signup">Already have a Account?! <a href="../templates/DocLogin.html" class="href2">&nbsp; SignIn</a></p>
        <p class="footer">© PatDoc 2021. All rights reserved</p>
      </div>
    </form>
  </main>
  <!-- End -->
</body>